.background{

}

.main-panel{

}

.title1{
    font-size:50px; 
    color: #2280E2; 
    width: min-content;
    margin-left: 100px;
}

.button-panel{

}

.startPage{
    text-align: center;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    box-shadow: 0px 0px 10px 0px rgba(174, 173, 173, 0.5); 
    border-radius: 20px;
}

body{
    font-family: system-ui;
    font-weight: 500;
}

.buttonPanel {
    width: 500px;
}
  
.buttonPanel button{
    margin-top: 10px;
    text-shadow: '1px 0px 5px grey';
}

