html,
body {
  margin: 0;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 20px;
}

.user-page-container {
  display: flex;
  height: 95vh;
  width: 100%;
}

.user-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  height: 100%;
  width: 100%;
}

.user-info-header {
  display: flex;
  margin-bottom: 20px;
}

.user-icon {
  width: 50px;
  height: 50px;
  background-color: #add8e6;
  border-radius: 50%;
}

.username {
  margin-left: 10px;
}

.edit-button {
  cursor: pointer;
}

.personal-data-title {
  color: #2F80ED;
  margin-bottom: 20px;
}

.user-photo {
  width: 250px;
  height: 350px;
  background-color: #d1d0d04e;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.user-info-header-left,
.user-info-header-right {
  display: flex;
  align-items: center;
}

.physical-data,
.contacts {
  color: #2F80ED;
  margin-bottom: 10px;
}

.physical-data-item,
.contacts-item {
  height: 50px;
}

.fill-profile-button{
  padding: 10px;
  margin-top: 720px;
  margin-left: 330px;
}

.fill-profile-button button{
  background-color: #D2E1FF;
  color: #2F80ED;
  font-weight: 600;
  padding: 15px 50px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 17px;
  display: flex;
}

.fill-profile-button button:hover {
  background-color: #C8DBFF;
}

.change-button button{
    background-color: #F7F7F7;
    color: #8a8a8a;
    padding: 15px 60px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 280px;
    margin-left: 25px;
}

.change-button button:hover {
    background-color: #f3f3f3;
  }

.user-page-container{
    border: solid;
    border-radius: 40px;
    border-color: #F5F5F5;
    border-width: 15px;
    z-index: 800;
    background-color: #fff;
}

body{
    background-color: #F5F5F5;
}

.personal-data-title{
  margin: 40px;
}

.info1{
  width: 500px;
  margin-top: 60px;
  height: 100px;
  margin-bottom: 85px;
}

.info2{
  height: 150px;
}

.info3{
}

.info{
  width: 500px;
}

.user-dob{
  height: 50px;
}
